{% extends "layout.html" %}
{% block content %}
<h1 class="mx-4 my-3">Dashboard</h1>
<div class="container">
    <div class="row">

        {# Messages received #}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 mt-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div
                        class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Messages received</p>
                        <h4 class="mb-0">58,743</h4>
                    </div>
                </div>
                <hr class="horizontal my-0 dark">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">23 </span>in last 5 min</p>
                </div>
            </div>
        </div>

        {# Messages SENT #}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 mt-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div
                        class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-paper-plane"></i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Messages sent</p>
                        <h4 class="mb-0">58,827</h4>
                    </div>
                </div>
                <hr class="horizontal my-0 dark">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">23 </span>in last 5 min</p>
                </div>
            </div>
        </div>
        {# Messages received #}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 mt-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div
                        class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Messages received</p>
                        <h4 class="mb-0">58,743</h4>
                    </div>
                </div>
                <hr class="horizontal my-0 dark">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">23 </span>in last 5 min</p>
                </div>
            </div>
        </div>

        {# Messages SENT #}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 mt-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div
                        class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-paper-plane"></i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Messages sent</p>
                        <h4 class="mb-0">58,827</h4>
                    </div>
                </div>
                <hr class="horizontal my-0 dark">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">23 </span>in last 5 min</p>
                </div>
            </div>
        </div>
        {# Messages received #}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 mt-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div
                        class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Messages received</p>
                        <h4 class="mb-0">58,743</h4>
                    </div>
                </div>
                <hr class="horizontal my-0 dark">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">23 </span>in last 5 min</p>
                </div>
            </div>
        </div>

        {# Messages SENT #}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 mt-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div
                        class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-paper-plane"></i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Messages sent</p>
                        <h4 class="mb-0">58,827</h4>
                    </div>
                </div>
                <hr class="horizontal my-0 dark">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">23 </span>in last 5 min</p>
                </div>
            </div>
        </div>
        {# Messages received #}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 mt-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div
                        class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Messages received</p>
                        <h4 class="mb-0">58,743</h4>
                    </div>
                </div>
                <hr class="horizontal my-0 dark">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">23 </span>in last 5 min</p>
                </div>
            </div>
        </div>

        {# Messages SENT #}
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4 mt-4">
            <div class="card">
                <div class="card-header p-3 pt-2">
                    <div
                        class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                        <i class="fas fa-paper-plane"></i>
                    </div>
                    <div class="text-end pt-1">
                        <p class="text-sm mb-0 text-capitalize">Messages sent</p>
                        <h4 class="mb-0">58,827</h4>
                    </div>
                </div>
                <hr class="horizontal my-0 dark">
                <div class="card-footer p-3">
                    <p class="mb-0"><span class="text-success text-sm font-weight-bolder">23 </span>in last 5 min</p>
                </div>
            </div>
        </div>


    </div>
</div>


{% endblock content%}